h1 {
    text-align: center;
    color: mediumvioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    font-size: 50px;
    /*background-color: cadetblue;*/
}
h3{
    text-align: center;
    color: blueviolet;
    
}
body {
    background-image: url('images/backgroundd.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}
.container {
    position: relative;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

/* Seasons */

.item1 { 
    grid-area: image;
    float: left;
    width:  300px;
    height: fit-content;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 20px;
}
.item2 { 
    grid-area: info; 
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 100px;
}
.item3 { 
    grid-area: addon;  
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 100px;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'image info info'
      'image info info'
      'image addon addon';
    gap: 10px;
    background-color: snow;
    padding: 5px;
    border-style: outset;

}
.newsize {
    height: 150px;
    width: 150px;
}

